.text-green {
  color: #27ae60
}

.text-green-darken{
  color: #009688;
}

.text-blue {
  color: #2980b9
}

.text-red {
  color: #e74c3c
}

.text-orange {
  color: #e67e22
}

.text-purple {
  color: #8e44ad
}

.text-white {
  color: white !important;
}

.text-black-white {
  color: #696969 !important;
}