$bg-primary-color: #db4c3f;
$text-header: #ffffff;
$primary: #424242;
$btn-white: #ffffff;
$btn-orange: #e67e22;
$btn-orange-hover: #d35400;
$a-hover: #fc605c;
$font-montserrat: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-default: "Lora"
