.post-lists {
  .post-item {
    border-left: 3px solid #eeeeee;
    padding-left: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    h4.title {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 16px;
      a {
        color: lighten($bg-primary-color, 10);
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        &:hover {
          text-decoration: none;
          color: $bg-primary-color
        }
      }
    }
    .description {
      line-height: 1.7em;
      margin-bottom: 0px;
    }
    .user {
      color: #c7c7c7;
      font-size: 12px;
    }
    &:hover {
      border-left: 3px solid lighten($bg-primary-color, 10);
    }
  }
}

.post-view {
  & h1.title {
    margin-bottom: 5px !important;
  }
  .meta {
    display: block;
    width: 100%;
    @include clearfix();
    ul {
      padding-left: 0px;
      li {
        float: left;
        list-style: none;
        padding-right: 30px;
        font-size: 12px;
        color: #c7c7c7;
        a{
          &:hover{text-decoration: none; cursor: pointer}
        }
      }
    }
  }
  .content{
    line-height: 1.7em;
    font-size: 14px;
    margin-top: 20px;
    div[data-block=true]{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}